{% extends 'base.html.twig'%}


{%block title %}
Bienvenue
{%endblock%}
{% block body %}
<div class="container"> 
    <div class="jumbotron mt-3">
      <h1 class="display-3">Bienvenue sur EasyRent!</h1>
          <p class="lead">Nous mettons en relation les propriétaires des voitures ainsi que les loueurs qui veulent profiter d'opportunités et gagner de l'argent</p>
          <hr class="my-4">
          <p>Voulez-vous louer une voiture ? Vous  êtes sur le bon site ! </p>
          <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ path('ads_index') }}" role="button">Voir les annonces </a>
          </p>
    </div>


    
    
{% endblock  %}